@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    background-color:black;
    font-family: 'Abel';
}
main {
    padding-top: 40px;
}

#grafico-div{
    padding-top: 30px;
}