main {
    padding-top: 70px;
    padding-left: 200px;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.offcanvas {
    transition: transform .15s ease-in-out, visibility .15s ease-in-out;
}

select {
    cursor: pointer;
}